.gradle/
build/
*/build/
.gradle-cache/

.idea/
*.iml
*.iws
*.ipr

local.properties

captures/
.externalNativeBuild/
.cxx/
app/release/
app/debug/

*.apk
*.aab
*.ap_

*.class

*.log

.DS_Store
Thumbs.db

*.jks
*.keystore